
<h1><%= @hospital.name %> Patients</h1>
<%= link_to "Sort Patients Alphabetically", "/hospitals/#{@hospital.id}/patients?sorted=true" %>
<br>
<br>
<% @patients.each do |patient| %>
<%= link_to "Go to Patient", "patients/#{patient.id}" %>
<%= link_to "Edit Patient Data", "/patients/#{patient.id}/edit" %>
<%= button_to "Delete #{patient.name}", "/patients/#{patient.id}", method: :delete %>
<table>
<% patient.attributes.each_pair do |key, value|%>
<tr>
<td style="color:blue"><%= key %>: </td>
<td><%= value %></td>
</tr>
<% end %>
<br>
</table>
<br>
<% end %>
<br>
<%= form_with url: "/hospitals/#{@hospital.id}/patients", method: :get do |form|%>
  <%= form.label :threshold, "Only return records with patients older than:" %>
  <%= form.number_field :threshold %>
  <%= form.submit "submit"%>
<% end %>
<br>
<%= link_to "Create New Patient", "/hospitals/#{@hospital.id}/patients/new"  %>
