
<h1><%= @hospital.name %> Patients</h1>
<a href="/hospitals/<%= @hospital.id%>/patients?sorted=true">Sort Patients Alphabetically</a><br>
<br>
<% @patients.each do |patient| %>
<a href="patients/<%=patient.id%>">Go to Patient</a>
<a href="/patients/<%= patient.id %>/edit">Edit Patient Data</a>
<%= button_to "Delete #{patient.name}", "/patients/#{patient.id}", method: :delete %>
<table>
<% patient.attributes.each_pair do |key, value|%>
<tr>
<td style="color:blue"><%= key %>: </td>
<td><%= value %></td>
</tr>
<% end %>
<br>
</table>
<br>
<% end %>
<br>

<form action="/hospitals/<%= @hospital.id%>/patients" method="get">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="threshold">Only return records with patients older than:</label>
  <input type="integer" id="threshold" name="threshold">
  <input type="submit" id="submit" name="submit">
</form>

<a href="/hospitals/<%=@hospital.id%>/patients/new">Create New Patient</a>
