
<h1>Add New Patient to <%= @hospital.name %></h1>

<%= form_with url: "/hospitals/#{@hospital.id}/patients", method: :post do |form|  %>
  <%= form.label :name, "Patient Name:" %>
  <%= form.text_field :name %><br>
  <%= form.label :age, "Age:" %>
  <%= form.text_field :age %><br>
  <%= form.label :ailment, "Ailment:" %>
  <%= form.text_field :ailment %><br>
  <%= form.label :in_patient, "In Patient:" %>
  <%= form.check_box :in_patient %><br>
  <%= form.submit "Submit" %>
<% end %>