<h1>Edit patient data for <%=@patient.name%></h1>

<%= form_with url: "/patients/#{@patient.id}", method: :patch do |form| %>
  <%= form.label :name, "Patient Name:" %>
  <%= form.text_field :name, value: "#{@patient.name}" %><br>
  <%= form.label :age, "Age:" %>
  <%= form.text_field :age, value: "#{@patient.age}" %><br>
  <%= form.label :ailment, "Ailment:" %>
  <%= form.text_field :ailment, value: "#{@patient.ailment}" %><br>
  <%= form.label :in_patient, "In Patient:" %>
  <%= form.check_box :in_patient,  {checked: (@patient.in_patient ? true : false) }%><br>
  <%= form.submit "Submit" %>
<% end %>