
<h1>Patients Index</h1>


<% @patients.each do |patient| %>
<%if patient.in_patient?%>
  <a href="patients/<%=patient.id%>">Go to Patient <%= patient.name %></a>
  <a href="/patients/<%= patient.id %>/edit">Edit Patient <%= patient.name %> Data</a>
<form action="/patients/<%= patient.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete patient <%= patient.name %> "/>
</form>
<table>
  <% patient.attributes.each_pair do |key, value|%>
    <tr>
      <td style="color:blue"><%= key %>: </td>
      <td><%= value %></td>
    </tr>
  <% end %>
      <br>
</table>
<% end %>
<br>
<% end %>