
<h1>Patients Index</h1>


<% @patients.each do |patient| %>
  <%= link_to "Go to Patient #{patient.name}", "patients/#{patient.id}" %>
  <%= link_to "Edit Patient #{patient.name} Data", "/patients/#{patient.id}/edit" %>
  <%= button_to "Delete #{patient.name}", "/patients/#{patient.id}", method: :delete %>
<table>
  <% patient.attributes.each_pair do |key, value|%>
    <tr>
      <td style="color:blue"><%= key %>: </td>
      <td><%= value %></td>
    </tr>
  <% end %>
      <br>
</table>
<% end %>
<br>
