


<h1><%= @patient.name %></h1>

<table>
  <% @patient.attributes.each_pair do |key, value|%>
    <tr>
      <td style="color:blue"><%= key %>: </td>
      <td><%= value %></td>
    </tr>
  <% end %>
      <br>
</table>
<br>
<%= link_to "Edit Patient Data", "/patients/#{@patient.id}/edit" %>
<br>
<br>
<%= button_to "Delete #{@patient.name}", "/patients/#{@patient.id}", method: :delete %>
  