<h1>Edit <%=@hospital.name%> Data</h1>

<%= form_with url: "/hospitals/#{@hospital.id}", method: :patch do |form| %>
  <%= form.label :name, "Hospital Name:" %>
  <%= form.text_field :name, value: "#{@hospital.name}" %><br>
  <%= form.label :rating, "Rating:" %>
  <%= form.text_field :rating, value: "#{@hospital.rating}" %><br>
  <%= form.label :trauma, "Trauma:" %>
  <%= form.check_box :trauma, {checked: (@hospital.trauma ? true : false) }%><br>
  <%= form.label :research, "Research:" %>
  <%= form.check_box :research,  {checked: (@hospital.research ? true : false) }%><br>
  <%= form.submit "Submit" %>
<% end %>
