
<h1>Hospitals Index</h1>

<% @hospitals.each do |hospital|%>
  <a href= "hospitals/<%= hospital.id%>">
  <h3><%= hospital.name %> Established: <%= hospital.created_at %></h3></a>
  <a href="/hospitals/<%= hospital.id %>/edit">Edit <%= hospital.name %> Data</a>
<%= button_to "Delete #{hospital.name}", "/hospitals/#{hospital.id}", method: :delete  %>

<% end %>
<br>
<a href="/hospitals/new">Create New Hospital</a>