
<h1>Enter information for a new Hospital</h1>

<%= form_with url: "/hospitals", method: :post do |form| %>
  <%= form.label :name, "Hospital Name:" %>
  <%= form.text_field :name %><br>
  <%= form.label :rating, "Rating:" %>
  <%= form.text_field :rating %><br>
  <%= form.label :trauma, "Trauma:" %>
  <%= form.check_box :trauma %><br>
  <%= form.label :research, "Research:" %>
  <%= form.check_box :research %><br>
  <%= form.submit "Submit" %>
<% end %>