

<h1><%= @hospital.name %></h1>

<!--patient count from hospital model -->
<p>This hospital has <%= @hospital.patient_count %> patients </p>
<!-- Link to Patients in the hospital-->
<%= link_to "#{@hospital.name} patients", "/hospitals/#{@hospital.id}/patients" %>
<br>
<table>
  <% @hospital.attributes.each_pair do |key, value|%>
    <tr>
      <td style="color:blue"><%= key %>: </td>
      <td><%= value %></td>
    </tr>
  <% end %>
      <br>
</table>
<br>
<%= link_to "Edit Hospital Data", "/hospitals/#{@hospital.id}/edit" %>
<br>
<br>
<%= button_to "Delete #{@hospital.name}", "/hospitals/#{@hospital.id}", method: :delete  %>

