

<h1><%= @hospital.name %></h1>

<!--patient count from hospital model -->
<p>This hospital has <%= @hospital.patient_count %> patients </p>
<!-- Link to Patients in the hospital-->
<a href= "/hospitals/<%= @hospital.id %>/patients"><%= @hospital.name %> patients</a>
<br>
<table>
  <% @hospital.attributes.each_pair do |key, value|%>
    <tr>
      <td style="color:blue"><%= key %>: </td>
      <td><%= value %></td>
    </tr>
  <% end %>
      <br>
</table>
<br>

<a href="/hospitals/<%= @hospital.id %>/edit">Edit Hospital Data</a>
